<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <div>
                <h1><strong>Forget Password</strong></h1>
                <h4>Enter Your Email</h4><br>
                <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-id-card"></i></span>
                        </div>
                        <input type="text" class="form-control" formControlName="email" placeholder="email" required />
                    </div><br>

                    <div class="form-group">
                        <button type="submit" [disabled]="!forgetPasswordForm.valid" class="btn btnSubmit"><span style="font-size: 20px;">Submit</span></button>
                    </div>
                    <div class="alert alert-warning" role="alert" *ngIf="statusMessage">
                        {{statusMessage}}
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 login-form-2">
            <div>
                <h1 class="text-xs-center"><strong>Info</strong></h1><br>
                <div class="form-group">
                    <font size="4">A password reset link will be sent to you on your registered email upon submitting this form.</font>
                </div>
            </div>
        </div>
    </div>
</div>