.btn:disabled {
    opacity: .50;
}

.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-1 {
    padding: 4.5%;
    height: 400px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 {
    text-align: left;
    color: #333;
}

.login-form-1 input[type=text],
input[type=password] {
    height: 50px;
}

.login-form-2 {
    padding: 4.5%;
    height: 400px;
    background-image: -webkit-linear-gradient(145deg, #fdd982 0%, #ff634d 100%);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 {
    text-align: center;
    color: #FFFFFF;
}

.btnSubmit {
    width: 30%;
    border-radius: 0.8rem;
    padding: 2%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    padding: 10px;
    background-image: -webkit-linear-gradient(145deg, #fdd982 0%, #ff634d 100%);
}

.login-form-2 .btnSubmit {
    font-weight: 600;
    color: #fff;
    padding: 10px;
    background-color: #1D8AB0;
}

.login-form-1 .ForgetPwd {
    background-image: -webkit-linear-gradient(145deg, #fdd982 0%, #ff634d 100%);
    font-weight: 600;
    text-decoration: none;
}