.topbanner {
    background-image: -webkit-linear-gradient(145deg, #fdd982 0%, #ff634d 100%);
    text-align: center;
}

img {
    max-width: 50%;
    height: auto;
}

.section-top-border {
    padding: 70px 0;
    border-top: 1px dotted #eee;
}

.generic-blockquote {
    padding: 30px 50px 30px 30px;
    background: #f9f9ff;
    border-left: 2px solid #f53f51;
}

.detailButton {
    background-image: -webkit-linear-gradient(145deg, #fdd982 0%, #ff634d 100%);
    border: none;
    border-radius: 40px;
}

.topBadge {
    background-image: -webkit-linear-gradient(145deg, #fdd982 0%, #fdd982 100%);
    border: none;
    border-radius: 40px;
}

.deleteBadge {
    background-image: -webkit-linear-gradient(145deg, #fdd982 0%, #dc3545 100%);
    border: none;
    border-radius: 40px;
}