<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <div>
                <h1><strong>Account Confirmation</strong></h1><br>
                <h4>Your account has been activated successfully !</h4><br>
            </div>
        </div>
        <div class="col-md-6 login-form-2">
            <div>
                <h1 class="text-xs-center"><strong>Please Login To Continue</strong></h1><br>
                <div class="form-group">
                    <a class="btn btnSubmit" routerLink="/login" routerLinkActive="active"><span style="font-size: 20px;">Login</span></a>
                </div>
            </div>
        </div>
    </div>
</div>