<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <div>
                <h1><strong>Change Password</strong></h1>
                <h4>Enter Your New Password</h4><br>
                <form [formGroup]="passwordUpdateForm" (ngSubmit)="onSubmit()">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" formControlName="current_password" placeholder="Enter Current Password"  required />
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" formControlName="new_password" placeholder="Enter New Password" required />
                    </div>
    
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Enter Password Again" required />
                    </div><br>

                    <div class="form-group">
                        <button type="submit" [disabled]="!passwordUpdateForm.valid" class="btn btnSubmit"><span style="font-size: 20px;">Submit</span></button>
                    </div>
                    <div class="alert alert-warning" role="alert" *ngIf="statusMessage">
                        {{statusMessage}}
                      </div>                            
                </form>
            </div>
        </div>
        <div class="col-md-6 login-form-2">
            <div>
                <h1 class="text-xs-center"><strong>Tips !</strong></h1><br>
                <div class="form-group">
                    <font size="4">New Password Should Contain An Uppercase Letter, Lowercase Letter And A Number.</font>
                </div><br>
                <div class="form-group">
                    <button type="submit" class="btnSubmit text-xs-center" routerLink="/profile" routerLinkActive="active"><span style="font-size: 20px;">My Profile</span></button>
                </div>
            </div>
        </div>
    </div>
</div>