<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <div>
                <h1><strong>Login</strong></h1>
                <h4>Sign in to your Account</h4><br>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" formControlName="email_or_username" placeholder="Enter Email or Username" required />
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" formControlName="password" placeholder="Enter Password" required />
                    </div>

                    <div class="form-group">
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btnSubmit"><span style="font-size: 20px;">Login</span></button>
                        <a routerLink="/forgetpassword" routerLinkActive="active" class="ForgetPwd" style="float:right;margin: 10px;">Forget Password?</a>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                        {{errorMessage}}
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 login-form-2">
            <div>
                <h1 class="text-xs-center"><strong>Sign Up</strong></h1>
                <div class="form-group">
                    <font size="4">Login with your registered e-mail, username and password.</font>
                </div><br>
                <div class="form-group">
                    <button type="submit" class="btnSubmit text-xs-center" routerLink="/signup" routerLinkActive="active"><span style="font-size: 20px;">Sign Up</span></button>&nbsp;&nbsp;
                    <button type="submit" class="google-button" (click)="signInWithGoogle()"><span style="font-size: 20px;"><i class="fab fa-google"></i> Google</span></button>
                </div>
            </div>
        </div>
    </div>
</div>