<app-navbar></app-navbar>

<div id="mySidenav" class="sidenav" *ngIf="isAdmin()">
    <a data-toggle="modal" data-target="#updateModal" id="update" (click)=updateCategory()>Update&nbsp;</a>
    <a id="delete" (click)="deleteCategory(category?.id)">Delete&nbsp;&nbsp;</a>
</div>

<section class="topbanner" id="dashboard">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="col-lg-7">
                <h1 class="text-uppercase display-4">
                    <strong>{{category?.name}}</strong>
                </h1>
                <button type="button" class="btn topBadge">
                    Total Books <span class="badge badge-light">{{category?.book_count}}</span>
                </button>
            </div>
            <div class="col-lg-5 banner-right">
                <img class="img-fluid" src="../../../assets/img/header-img.png" alt="">
            </div>
        </div>
    </div>
</section>
<br>

<div class="row d-flex justify-content-center" *ngIf="categoryBookList?.length > 0">
    <div class="menu-content pb-60 col-lg-8">
        <div class="title text-center">
            <h1 class="mb-10">Books In {{category?.name}}</h1>
        </div>
    </div>
</div>
<br>

<div class="row d-flex justify-content-center" *ngIf="categoryBookList?.length === 0">
    <div class="menu-content pb-60 col-lg-8">
        <div class="title text-center">
            <h1 class="mb-10">No Books In This Category!</h1>
            <img class="img-fluid" src="../../../assets/img/header-img.png" alt="">
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="row mb-2">
        <div class="col-md-6" *ngFor="let categoryBook of categoryBookList">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary h1">{{categoryBook?.name}}</strong>
                    <h3 class="mb-0">
                        <p class="text-dark">Category: {{categoryBook?.category.name}}</p>
                    </h3>
                    <div class="mb-1 text-muted" *ngFor="let author of categoryBook?.author">Author: {{author.name}}</div>
                    <p class="card-text mb-auto">Description: {{categoryBook?.description | slice:0:50}}</p>
                    <button type="button" class="btn detailButton" (click)=bookDetail(categoryBook?.id)>Book Details</button>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="{{categoryBook?.book_cover}}" data-holder-rendered="true">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
                <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updateCategoryForm" (ngSubmit)="updateCategorySubmit(category?.id)">
                    <div class="form-group input-group">
                        <span class="input-group">Category Name: </span><br>
                        <input type="text" class="form-control" formControlName="name" placeholder="Enter Category Name" required />
                    </div>

                    <button type="submit" class="btn detailButton">Update Category</button>
                </form>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>